/* CARD CUSTOM---------------------------------------------------- */

.custom__RoomCard {
    height: 100%;
    transition: all 0.25s ease;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.card__Title {
    margin: 20px 0;
}

.custom__RoomCard img {
    border-radius: 4px;
}

.custom__RoomCard:hover {
    color: var(--primary-color) !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 29px 0px;
}