@import url(./_Reset.css);
@import url(./custom-card.css);
@import url(./custom-button.css);
@import url(./custom-dropdown.css);
@import url(./custom-element.css);
@import url(./global.css);
@import url(./_Responsive.css);

.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}